<%- include('partials/header'); -%>

<div class="container">
    <h1>About</h1>
</div>

<div class="container">
    <p class="about-text">
        Welcome to the World of Recipes. This website provides you with 1.5 millions of recipes. You can search any recipe that you want to 
        cook.
    </p>
    <p class="about-text">
        Impress your loved ones with your cooking skills! Enjoy your dinner with family and friends!
    </p>
</div>

<%- include('partials/footer'); -%>