<%- include('partials/header'); -%>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <img src="images/sorry.jpg" class="img-fluid" alt="Sorry Samoyed Image">
        </div>

        <div class="col-lg-6">
            <div class="container">
               <p class="sorry-text"> <%= errorMessage %> </p>
               <p class="sorry-text"> Please go back to <a href="/">Home </a></p>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer'); -%>